body
{
    padding-top: 70px;
}

#addComment
{
    Display: none;
}

.addResponseComment
{
    Display: none;
}

#adminNewPost
{
    Display: none;
}

.redirectError
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -285px;
    margin-top: -190px;
    z-index:-1;
}

.TextError
{
    text-align: center;

}